@import './default.less';
* {
  padding: 0;
  margin: 0;
}
html,body {
  height: 100%;
  width: 100%;
}
.container {
  display: flex;
  height: calc(100vh);
  background-color: @colorL;
  .navleft {
    min-width: 180px;
    position: relative;
    z-index: 10;
    background-color: #001529;
  }
  .mian {
    flex: 1;
    height: calc(100vh);
    padding-bottom: 100px;
    position: relative;
    overflow: auto;
  }
  .content{
    position: relative;
    margin: 20px;
    min-height: calc(60vh);
    background-color: @colorM;
  }
  .footer{
    height: 100px;
    padding: 40px 0;
    text-align: center;
    position: fixed;
    width: calc(100% - 10px);
    bottom: 0px;
    right: 20px;
    color :@colorJ;
    background-color: @colorC;
    z-index: 1;
}
}